<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <testsuites>
        <testsuite name="unit">
            <directory prefix="test-" suffix=".php">./tests/unit/</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./includes</directory>
            <directory suffix=".php">./public</directory>
            <directory suffix=".php">./admin</directory>
        </include>
        <exclude>
            <directory suffix=".php">./vendor</directory>
            <directory suffix=".php">./tests</directory>
        </exclude>
    </coverage>
</phpunit>
